.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 94vh; 
  background-color: #f9f9f9;
}
.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh; 
  background-color: #f9f9f9;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.info-form{
  animation: slide-in-left 1s forwards;
}
.container-form h2{
  margin-bottom: 15px;
  font-size: 35px;
  color: #111;
}
.container-form p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #111;
}
.container-form a{
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.container-form a i{
  color: #5ea0b4;
  margin-right: 10px;
}
.container-form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  border-radius: .7rem;
}
.container-form form textarea{
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #5ea0b4;
  color: #f9f9f9;
  border-radius: .7rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
  background: #3e8094;
  color: #ffffffa2;
}
.container-form form{
  animation: slide-in-right 1s forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}